.wrapper {
  display: grid;
  position: relative;
  place-items: center;
  height: 90vh;
}

.suggested-key {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mb {
  margin-bottom: 2em;
}

.spaced-y > * + * {
  margin-bottom: 1rem;
}

.wide {
  width: 80%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-xl {
  font-size: 1.5em;
}

.text-l {
  font-size: 1.2em;
}

.bold {
  font-weight: 800;
}

.error {
  background: rgba(255, 0, 0, 0.75);
  padding: 1em;
  width: 100%;
  border-radius: var(--border-radius);
}

input {
  padding: 1em;
  font-size: large;
  border-radius: var(--border-radius);
  border: 0;
}

footer {
  cursor: pointer;
  bottom: 20px;
}
